# Replicating Results


### What is this?
This notebook provides step-by-step instructions for replicating the results for multi-adjustment

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

import os
import yaml
import sqlalchemy

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
pd.options.display.max_columns = None

from IPython.display import display 
from itertools import permutations, combinations
from jinja2 import Template
import dateparser


from ohio.ext.numpy import pg_copy_to_table

Specify The Database, demo_col of interest, demo_values of interest and the procedure you wish to use for adjustment

In [2]:
database="dhananja_donors"

In [3]:
working_schema, results_schema = "bias_working", "bias_results"

In [4]:
demo_col = "plevel"

In [5]:
demo_values = ["not_highest", "highest"]

## Getting Set Up

You will need a database with the following schemas:
- **public**: The raw data from donors choose as well as some tables with calculated features and intermediate modeling tables
- **model_metadata**: Information about the models we ran, such as model types and hyperparameters (models were run with `triage`, which generates this schema. In `triage` a "model group" specifies a type of model and associated hyperparameter values, while a "model" is an instantiation of a given model group on a specific temporal validation split). Note that this schema contains information on other model runs with this dataset, in addition to the run used for the current study of fairness-accuracy trade-offs.
- **test_results**: Validation set statistics and predictions for the models. Here, `test_results.predictions` contains project-level predicted scores from each model in the grid, while `test_results.evaluations` contains aggregated summary statistics for each model.
- **train_results**: Training set statistics for the models, including feature importances.
- **features**: Intermediate tables containing calculated features from the `triage` run.
- **bias_working**: Intermediate tables from the bias analysis, as well as the mapping table between projects and school poverty levels, `bias_working.entity_demos`.
- **bias_results_submitted**: Results of the fairness-accuracy trade-offs from the study as submitted (see below to use these to replicate the figures from the study).
- **bias_results**: Empty bias analysis results tables that will be populated by re-running the fairness adjustments (see below for instructions).


Finally, to connect to the database, you'll need a yaml file named `db_profile.yaml` in the same directory as this notebook with your connection info:
```yaml
host: {POSTGRES_HOST}
user: {POSTGRES_USER}
db: education_crowdfunding
pass: {POSTGRES_PASSWORD}
port: {POSTGRES_PORT}
```

In [6]:
with open('../../config/db_default_profile.yaml') as fd:
    config = yaml.full_load(fd)
    dburl = sqlalchemy.engine.url.URL(
        "postgresql",
        host=config["host"],
        username=config["user"],
        database=database,
        password=config["pass"],
        port=config["port"],
    )
    engine = sqlalchemy.create_engine(dburl, poolclass=sqlalchemy.pool.QueuePool)

/tmp/ipykernel_14132/127057796.py:3: SADeprecationWarning: Calling URL() directly is deprecated and will be disabled in a future release.  The public constructor for URL is now the URL.create() method.
  dburl = sqlalchemy.engine.url.URL(

In [7]:
def get_frac_demos(model_group_id=None, train_end_time=None):
    if model_group_id is None and train_end_time is None:
        sel_string = ""
    elif model_group_id is None:
        sel_string = f"and train_end_time = '{train_end_time}'"
    elif train_end_time is None:
        sel_string = f"and model_group_id = {model_group_id}"
    else:
        sel_string = f"and train_end_time = '{train_end_time}' and model_group_id = {model_group_id}"
    sql = f"""
    select model_group_id, train_end_time, weight, count(distinct entity_id) 
    from {results_schema}.selected_entities se natural join {working_schema}.entity_demos ed
    where ed.{demo_col} = '{demo_values[0]}' {sel_string}
    group by 1, 2, 3 
    """
    ts_df = pd.read_sql(sql, engine)
    return ts_df

In [8]:
def get_difference(weight1, weight2, model_group_id=None, train_end_time=None):
    if model_group_id is None and train_end_time is None:
        sel_string = f""
    elif model_group_id is None:
        sel_string = f"WHERE train_end_time = '{train_end_time}'"
    elif train_end_time is None:
        sel_string = f"WHERE model_group_id = {model_group_id}"
    else:
        sel_string = f"WHERE model_group_id = {model_group_id} and train_end_time = '{train_end_time}'"
    
    sql = f"""
        with all_entities as (select * 
        from {results_schema}.selected_entities se natural join {working_schema}.entity_demos ed)
        , e1 as (select * from all_entities where weight = {weight1})
        , e2 as (select * from all_entities where weight = {weight2})
        , e3 as (select * from e1 where (model_group_id , train_end_time , entity_id) not in (select model_group_id , train_end_time , entity_id  from e2))
        , e4 as (select * from e2 where (model_group_id , train_end_time , entity_id) not in (select model_group_id , train_end_time , entity_id  from e1))
        SELECT distinct * from e3 {sel_string} UNION ALL SELECT distinct * FROM e4 {sel_string}
        """    
    ts_df = pd.read_sql(sql, engine)
    return ts_df

In [9]:
get_frac_demos()

     model_group_id train_end_time  weight  count
0               942     2011-03-01    0.01    413
1               942     2011-03-01    0.10    413
2               942     2011-03-01    0.20    413
3               942     2011-03-01    0.30    413
4               942     2011-03-01    0.40    413
..              ...            ...     ...    ...
117             942     2013-01-01    0.60    484
118             942     2013-01-01    0.70    485
119             942     2013-01-01    0.80    487
120             942     2013-01-01    0.90    489
121             942     2013-01-01    0.99    490

[122 rows x 4 columns]

In [10]:
diff_df = get_difference(weight1=0.9, weight2=0.8)

In [11]:
print(f"Model Group IDs Used")
print(diff_df['model_group_id'].unique())
print(f"Train End Times Used")
print(diff_df['train_end_time'].unique())

Model Group IDs Used
[942]
Train End Times Used
['2012-09-01T00:00:00.000000000' '2011-11-01T00:00:00.000000000'
 '2012-11-01T00:00:00.000000000' '2012-01-01T00:00:00.000000000'
 '2013-01-01T00:00:00.000000000' '2012-07-01T00:00:00.000000000'
 '2011-05-01T00:00:00.000000000' '2012-05-01T00:00:00.000000000'
 '2011-09-01T00:00:00.000000000']

In [12]:
model_group_id = 924
train_end_time = "2012-11-01"

In [13]:
get_frac_demos(model_group_id=model_group_id, train_end_time=train_end_time)

Empty DataFrame
Columns: [model_group_id, train_end_time, weight, count]
Index: []

In [18]:
diff_df = get_difference(weight1=0.1, weight2=0.9, model_group_id=None, train_end_time=train_end_time)[["score", "label_value", "model_rank", "rn_demo", "weight", demo_col]]

In [ ]:
diff_df

In [20]:
diff_df.groupby(["weight", demo_col, "label_value"]).count()

                                score  model_rank  rn_demo
weight plevel      label_value
0.1    not_highest 0                4           4        4
                   1                2           2        2
0.9    highest     0                3           3        3
                   1                3           3        3

# Performing Entity Analysis

Assumes that the model_adjustment_results_{demo_col} table is populated correctly for model selection

In [1]:
from DJRecallAdjuster import ra_procedure

In [ ]:
ra_procedure(weights=[1, 0], pause_phases=False, entity_selection=True)

0.99
[('2011-03-01', '2011-03-01'), ('2011-03-01', '2011-07-01')]
[('2011-05-01', '2011-05-01'), ('2011-05-01', '2011-09-01')]
[('2011-07-01', '2011-07-01'), ('2011-07-01', '2011-11-01')]
[('2011-09-01', '2011-09-01'), ('2011-09-01', '2012-01-01')]
[('2011-11-01', '2011-11-01'), ('2011-11-01', '2012-03-01')]
[('2012-01-01', '2012-01-01'), ('2012-01-01', '2012-05-01')]
[('2012-03-01', '2012-03-01'), ('2012-03-01', '2012-07-01')]
[('2012-05-01', '2012-05-01'), ('2012-05-01', '2012-09-01')]
[('2012-07-01', '2012-07-01'), ('2012-07-01', '2012-11-01')]
[('2012-09-01', '2012-09-01'), ('2012-09-01', '2013-01-01')]
0.9
[('2011-03-01', '2011-03-01'), ('2011-03-01', '2011-07-01')]